BITWARDEN_PROJECT_ID=
BITWARDEN_ORG_ID=
BITWARDEN_MACHINE_ACCESS_TOKEN=

# optional: if running into rate limiting issues
# https://bitwarden.com/help/secrets-manager-cli/#config-state
BITWARDEN_STATE_FILE=
